{% if EXPERIENCES %}
<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Recent Experience</h2>
    {% for experience in EXPERIENCES %}
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">{{ experience['job_title'] }}</h3>
                    <div class="time">{{ experience['time'] }}</div>
                </div><!--//upper-row-->
                <div class="company">{{ experience['company'] }}</div>
            </div><!--//meta-->
            <div class="details">
                <ul>
                {% for point in experience['points'] %}
                    <li>{{ point }}</li>
                {% endfor %}
                </ul>
            </div><!--//details-->
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}
