<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             
 
<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile-img" src="{{ SITEURL }}/images/{{ PIC }}" alt="profile picture" />
        <h1 class="name">{% if NAME %}{{NAME}}{% else %}Alan Doe{% endif %}</h1>
        <h3 class="tagline">{% if TAGLINE %}{{TAGLINE}}{% else %}Full Stack Developer{% endif %}</h3>
    </div><!--//profile-container-->
    
    <div class="contact-container container-block">
        <ul class="list-unstyled contact-list">
           
           {% if EMAIL %}
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{EMAIL}}">{{EMAIL}}</a></li>
            {% endif %}
            
            {% if PHONE %}
            <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{PHONE}}">{{PHONE}}</a></li>
            {% endif %}
            
            {% if WEBSITE %}
            <li class="website"><i class="fa fa-globe"></i><a href="http://{{WEBSITE}}" target="_blank">{{WEBSITE}}</a></li>
            {% endif %}
            
            {% if LINKEDIN %}
            <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{LINKEDIN}}" target="_blank">linkedin.com/in/{{LINKEDIN}}</a></li>
            {% endif %}
            
            {% if GITHUB %}
            <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{GITHUB}}" target="_blank">github.com/{{GITHUB}}</a></li>
            {% endif %}
        </ul>
    </div><!--//contact-container-->
   {% include 'includes/education.html' %}
   {% include 'includes/language.html' %}
   {# {% include 'includes/interests.html' %} #} 
</div><!--//sidebar-wrapper-->
